@model CAFE_Song_Lo.Models.get_info_product_Result

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<title>detail product</title>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Thông tin sản phẩm
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="/assets/image/icon/@Model.nameCg.ToLower()/@Model.image" alt="@Model.image">
        </div>
        <div class="col-md-4">
            <h3 class="my-3">@Model.name</h3>
            <ul>
                <li style="padding:5px;">ID : @Model.id</li>
                <li style="padding:5px;">Giá : @string.Format("{0:0,0}", Model.price)</li>
                <li style="padding:5px;">ID category : @Model.idcategory</li>
                <li style="padding:5px;">Category : @Model.nameCg</li>
            </ul>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Edit
                </button>
                <a href="/admin/product/delete?id=@Model.id">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" onclick="return confirm('Are you want to Delete ??');">
                        Delete
                    </button>
                </a>

            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
</div>
<!-- /.container -->
<!-- Button trigger modal -->
<form action="/admin/product/edit" method="post" enctype="multipart/form-data">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>ID sản phẩm</label>
                    <input class="form-control my-3" name="id" value="@Model.id" readonly="readonly" />
                    <label>Tên</label>
                    <input class="form-control my-3" name="name" value="@Model.name" required="true" />
                    <label>Giá</label>
                    <input class="form-control my-3" name="price" value="@Model.price" />
                    <label>ID hạng mục</label>
                    <input class="form-control my-3" name="idcategory" value="@Model.idcategory" readonly="true" />
                    <select class="form-control" style="margin-bottom:10px;">
                        <option>Danh sách hạng mục</option>
                        @foreach (var item in ViewBag.list)
                        {
                            <option disabled="disabled">@item.id - @item.name</option>
                        }
                    </select>
                    <label>Tên ảnh (.jpg .png )</label>
                    <input class="form-control my-3" name="image" value="@Model.image" readonly="readonly" />
                    <div class="form-group">
                        <input type="file" name="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>>