
@model CAFE_Song_Lo.Models.ReceiptData
@using PagedList.Mvc
@{
    ViewBag.Title = "Setting";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
@{
    int i = 0;
}
<title>Receipt</title>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/assets/Setting/setting.css" rel="stylesheet" />
<link href="~/Content/datepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<div class="rightbody">
    <div class="container p-2"
         style="color: var(--color3);text-align: center;">
        <h3>Danh sách Phiếu Thu.</h3>
    </div>

    <div class="container-fluid px-5" style="overflow-x: auto;">
        <input type="text" id="search-date-from" class="form-control" placeholder="Từ ngày">
        <span id="picker">to</span>
        <input type="text" id="search-date-to" class="form-control" placeholder="Đến ngày">
        <table class="table table-bordered table-sm table-hover">
            <thead class="thead-light">
                <tr style="line-height:50px;">
                    <th>ID Hoá đơn</th>
                    <th>ID account</th>
                    <th>Người thu ngân</th>
                    <th>ID table</th>
                    <th>Tống tiền</th>
                    <th>Thời gian thanh toán</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.allbills)
                {
                    <tr style="line-height:30px;">
                        <td>@item.id</td>
                        <td>@item.idaccount</td>
                        <td>@Model.listnames[i]</td>
                        <td>@item.idtable</td>
                        <td>@item.Tongtien đ</td>
                        <td>@item.datecheckout</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <div class="alert alert-info summany-info clearfix" role="alert">
            <div class="sm-info pull-left padd-0" style="text-align:left;">
                Tổng phiếu thu: <span style="color:red;">@ViewBag.count .</span>
                Tổng tiền: <span style="color:red;">@ViewBag.Tongtien đ.</span>
            </div>
        </div>
    </div>
</div>
<br />
<script>
    $('#search-date-from').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd-m-Y',
        week: true
    })
    $('#search-date-to').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd-m-Y',
        week: true
    })
</script>

        Page @(Model.allbills.PageCount < Model.allbills.PageNumber ? 0 : Model.allbills.PageNumber)/@Model.allbills.PageCount
        @Html.PagedListPager(Model.allbills, page => Url.Action("receipt", new { page, searchstring = ViewBag.search, status = ViewBag.status }))
        @if (string.Compare(ViewBag.status, "Status", true) != 0)
        {
            <script>
                        $("#status option[value='@ViewBag.status']").prop("selected", "selected");

            </script>
        }