@model CAFE_Song_Lo.Models.classdata

@{
    ViewBag.Title = "product";
    Layout = "~/Areas/staff/Views/Shared/_Layout.cshtml";
}
<title>product</title>
<link href="~/assets/product/product.css" rel="stylesheet" />
<link href="~/assets/product/labelproduct.css" rel="stylesheet" />
<!-- các nút tuỳ chọn -->
<div>
    @if (TempData["alert"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] ">
            @TempData["alert"]
        </div>
    }
</div>
<div class="toptable">
    <div class="bestsell">Bán chạy</div>
    <div class="allsell">Toàn bộ</div>
    <div data-toggle="modal" data-target="#exampleModal">Thêm mới sản phẩm</div>
</div>

<!-- các nút tuỳ chọn END -->
<!-- hiển thị danh sách sản phẩm -->
<div class="productitem">
    <div class="listproduct">
        @foreach (var itemm in ViewBag.list)
        {
            <div class="container-fluid pl-4 mb-2">
                <span class="categoryname" id="caphe">@itemm.name</span>
            </div>
            foreach (var item in Model.allfoods.Where(s => s.idcategory == itemm.id))
            {
                for (int j = 0; j < Model.top10sell.Count(); j++)
                {
                    if (item.id == Model.top10sell[j])
                    {
                        <div class="product_Item box" style="width: 200px; height: 377px;">
                            <div class="ribbon"><span>Best Sell</span></div>
                            <div class="productImage">
                                <a href="#"><img src="~/assets/image/icon/@itemm.name/@item.image" alt="@item.name" /></a>
                            </div>
                            <div class="product_info">
                                <h3 id="product_name"><a href="#">@item.name</a></h3>
                                <p id="product_price">@string.Format("{0:0,0}", item.price) đ</p>
                                <div><a href="/staff/product/index/@item.id" id="detail_btn">Thông tin</a></div>
                            </div>
                        </div>
                        break;
                    }
                    else
                    {
                        if (j == Model.top10sell.Count() - 1)
                        {
                            <div class="product_Item nobox">
                                <div class="productImage">
                                    <a href="#"><img src="~/assets/image/icon/@itemm.name/@item.image" alt="@item.name" /></a>
                                </div>
                                <div class="product_info">
                                    <h3 id="product_name"><a href="#">@item.name</a></h3>
                                    <p id="product_price">@string.Format("{0:0,0}", item.price) đ</p>
                                    <div><a href="/staff/product/index/@item.id" id="detail_btn">Thông tin</a></div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }
    </div>
</div>
<!-- hiển thị danh sách sản phẩm END -->
<script>
    $(".bestsell").click(function () {
        $(".nobox").hide();
    });
    $(".allsell").click(function () {
        $(".product_Item").show();
    });
</script>

<form action="/staff/product/add"  method="post" enctype="multipart/form-data">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Tên</label>
                    <input class="form-control my-3" name="name" required="true"/>
                    <label>Giá</label>
                    <input class="form-control my-3" name="price" required="true" type="number"/>
                    <label>ID hạng mục</label>
                    <input class="form-control my-3" name="idcategory" required ="true" type="number" />
                    <select class="form-control" style="margin-bottom:10px;">
                        <option>Danh sách hạng mục</option>
                        @foreach (var item in ViewBag.list)
                        {
                            <option disabled="disabled">@item.id - @item.name</option>
                        }
                    </select>
                    <label>Tên ảnh (.jpg .png )</label>
                    <div class="form-group">
                        <input type="file" name="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add product</button>
                </div>
            </div>
        </div>
    </div>
</form>>